*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-home{
    display: flex;
}
.flex-home-left{
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.home-svg{
    width: 80%;
    height: auto;
}
.span1{
    width: 50%;
}
.span2{
    margin-top: 4%;
    font-size: 4rem;
}
.span3{
    margin-top: 1%;
    font-size: 1.1rem;
    color: #5C5E66;
}
.flex-home-right{
    width: 50%;
}
.form-container{
    background-color:#1B1B1E ;
    margin: 20% 5% ;
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #1B1B1E 0px 5px 15px;
}
.form{
    width: 100%;
    /* margin-left:10%; */
    transform: translateX(15%);
    /* transform: translateY(1%); */
}
hr{
    margin: 5% 4%;
    width: 60%;
    border: 1px solid #5C5E66;
    outline: none;
    height: 1px;
    transform: translateX(-5%);
}
